<section class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-col px-5 py-24 justify-center items-center">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://i.ibb.co/pPS7JCT/dp.jpg">
        <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
           <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"><b>Sandeep Kumar Giri</b></h1>
            <p class="mb-8 leading-relaxed">As a Computer Engineer and having the background of Programming & Development, I will do full stack website development according to your requirements using React, Angular and NodeJS. I will use visual studio code for making beautiful web applications for your business or personal projects. Do not need to worry about React, Angular or NodeJS projects. Just tell me the requirements and get your quality work!

                I can also help you debug your web apps.</p>
        </div>
    </div>
  </section>