.example-spacer {
    flex: 1 1 auto;
  }

.menubtn{
    margin: 0;
    padding: 10px;
    float: right;
} 

.logo {
    padding: 10px;
    height: 80px;
    width: 200px;
}

.mr-5{
    font-size: 130%;
    margin: auto;
    padding: 5px;
}